<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Chat page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h3>Send message</h3>
    <div id="chat"></div>
    <form class="form-horizontal" id="data">
      <input type="hidden" value="<%= accountInfo.id %>" id="userid">
      <input type="hidden" value="<%= accountInfo.nickname %>" id="name">
      <input type="hidden" value="<%= targetid %>" id="targetid">

      <div class="form-group">
        <label for="msg" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="msg" placeholder="Type message here">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Send</button>
        </div>
      </div>
    </form>
    <a href="javascript:history.back();">Back</a>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var host = '127.0.0.1';
    var port = 3000;
    
    var socket = io.connect(`${host}:${port}`);

    socket.emit("join", {
      userid: $("#userid").val(),
      name: $("#name").val(),
      targetid: $("#targetid").val(),
    })

    var chatdataFlag=false;

      socket.on('LoadChatdata', (data) => {
        console.log(data);
        if (!chatdataFlag) {
          for (var i = 0; i < data.length; i++) {
            $('#chat').append('<div>[' + data[i].sender + ']  ' + data[i].msg + '</div>');
          }
        }
        chatdataFlag = true;
      })

    var roomcode;

    socket.on("join", (data) => {
      roomcode = data.roomcode;
      console.log(data.roomcode);
      $('#chat').append("<div><strong>" + data.serv_msg + "</strong></div>");
    })

    socket.on("disconnect", (data) => {
      $('#chat').append("<div><strong>" + data.serv_msg + "</strong></div>");
    })

    $(function () {
      $("#data").submit((e) => {
        e.preventDefault();

        socket.emit("clnt msg", {
          userid: $("#userid").val(),
          name: $("#name").val(),
          targetid: $("#targetid").val(),
          room: roomcode,
          msg: $("#msg").val()
        });

        $('#msg').val('');
      });
    });

    socket.on("serv msg", (data) => {
      $("#chat").append('<div>[' + data.name + ']  ' + data.msg + '</div>');
    });

  </script>
</body>

</html>