<html>

<head>
    <h2>Delete account</h2>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <form action="/delete_process" method="POST">
        <%= accountInfo.firstname %>, We suggest you to consider carefully.<br />
        If drop your account, all your business relations and your information will be gone from our
        services<br /><br />
        <p>
            email: <%= accountInfo.email %>
        </p>
        <p>
            <h3>Input password for ensure</h3>
        </p>
        <p>
            <input type="password" name="userpw" placeholder="Password" class="form-control">
        </p>
        <a href="javascript:history.back();">Back</a>
        <input type="submit" value="Considered all, want to drop my account" class="btn btn-primary">
    </form>
</body>

</html>